<div class="media media--right">
  <div class="media_media">
    <img src="@Content.Image" alt="">
  </div>
  <div class="media_body">
    <h3 class="orange-text">@Content.Title</h3>
    <p>@Html.Raw(@Content.Body)</p>
  </div>
</div>
