%block-base {
  @mixin block-padding;
  @mixin block-margin;
  h2, h3 {
    margin-top: 0;
  }
}

%block-dark {
  @mixin font-smoothing;
  color: #fff;
  h2, h3 {
    color: #fff;
  }
  a {
    @mixin white-link;
  }
}

.block-navy {
  @extend %block-base;
  @extend %block-dark;
  background: $navy;
}

.block-orange {
  @extend %block-base;
  @extend %block-dark;
  background: $orange;
}
