
*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.4;
    background: #fff;
    color: $text-color;
    font-family: $main-font;
}

img,
svg {
    max-width: 100%;
    height: auto;
}
