/* @media only all and (min-width: $break) { content }*/

.container {
  @mixin float-clear;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0 $spacing-sm;
}


/* flex row */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: resolve(-$spacing-sm / 2);
  margin-right: resolve(-$spacing-sm / 2);
}

/* flex items */
.flex-split-50 {
  width: 100%;
  padding: 0 $spacing-sm;
  @media only all and (min-width: $br-lg) {
    width: 50%;
    max-width: 50%;
    align-self: stretch;
    display: flex;
    align-items: stretch;
  }
}
