/*@media (min-width: $break) { @mixin-content; }*/

.container {
  @mixin float-clear;
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: $spacing-1 $spacing-2;
}


/* flex row */
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -$spacing-2;
  margin-right: -$spacing-2;
}

/* flex items */
.flex-split-50 {
  width: 100%;
  padding: 0 $spacing-2;
  @media (min-width: $br-lg) {
    width: 50%;
    max-width: 50%;
    align-self: stretch;
    display: flex;
    align-items: stretch;
  }
}
