/* colors */
$text-color: #5A5959;
$navy: #4A5082;
$orange: #de6351;

/* units */
$max-width: 1300px;
$spacing-1: 20px;
$spacing-2: resolve($spacing-1 * 2);

/* fonts */
$main-font: 'Open Sans', sans-serif; /* 400 */
$title-font: 'Passion One', sans-serif;

/* breakpoints */
$br-sm:    500px;
$br-md:    620px;
$br-md-2:  840px;
$br-lg:    900px;
