$char-height: 150px;
$hero-after-height: 60px;

@keyframes scroll {
  100%{
    background-position: -20800px bottom;
  }
}


.hero {
  @mixin font-smoothing;
  text-align: center;
  background: #000;
  color: #fff;
  position: relative;
}

.hero_inner {
  background-image: url(img/undertale-ruins.png);
  background-repeat: repeat-x;
  background-position: center bottom;
  padding-bottom: 60px;
  width: 100%;
  animation: 1400s scroll infinite linear;
  overflow: hidden;
}

.hero_text {
  @mixin block-padding;
  margin: 40px auto 100px;
  max-width: 600px;
  background: #000;
  width: calc(100% - $spacing-lg); /* 100% width minus side space */
  p {
    font-size: 1.8rem;
  }
}

.hero_title {
  margin: 0 0 $spacing-sm;
  color: #fff;
  font-size: 5rem;
  font-weight: 600;
}

.hero-after {
  position: relative;
  background: $purple;
  height: $hero-after-height;
  border-bottom: 8px solid #4B2047;
  margin-bottom: $spacing-lg;
}

.hero-after_char {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  max-height: $char-height;
  height: auto;
}

@media only all and (min-width: $br-sm) {

  .hero_inner {
    min-height: calc(100vh - $hero-after-height);
  }

  .hero_text {
    margin: 0;
    position: absolute;
    @mixin centerer;
    top: calc(50% - 20px); /* vert center with a 20px offset */
  }
}

@media only all and (min-width: $br-md) {
  .hero_text {
    top: calc(50% + 60px); /* vert center with a 60px offset */
  }
}
